//Variables

$orange: #f7942e;

//Imports

@import "clearfix";

@import "desktop";

@import "fonts";

@import "characters";

@import "matchup";

@import "fight";

@import "bio";

body{
	font-family: "bebas_neue_regularregular";
	color: yellow;
	letter-spacing: .2em;
	background:url(../img/background.jpg);
	margin:0;
	position: relative;
	background-size:cover;
	background-attachment:fixed;
}

main{

	

}

.star{

}

header{
	width: 90%;
	position: relative;
	height: 115px;
	z-index: 0;

	h1{
		font-family:Badaboom;
		// color:yellow;
		margin:0;
		position: relative;
		float:left;
		font-weight: 100;
		margin-left: 19%;
    	font-size: 2.2em;

			a{
				color: yellow;
				text-decoration: none;
			}
	}

	.first_s{
		color:red;
		font-size:3em;
		text-shadow: 2px 5px 5px #000;
	}

	.top_nav{
		padding:0;
		margin:30px 0 0 0;
		float:right;

		a{
			display: block;
			padding: 15px 50px;
			color: yellow;
			background-color: #2286e8;
			font-family: 'bebas_neue_regularregular';
			font-size: 1em;
			text-decoration: none;
		}
	}

	li{
		color:yellow;
		display: inline-block;
		padding:5px;

		&:last-child a{
			padding: 15px 65px;
			margin-left: 30px;
		}
	}

}

.main_buttons{
	background:url(../img/marvel_group.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	display: block;
	height: 574px;
	position: relative;
}

.buttons{
	position: relative;
	height:574px;
	
	img{
    position: absolute;
    left: 40%;
    top: 37%;
	}

}

.character_button{
	background:url(../img/choose_button.png);
	background-repeat:no-repeat;
	display:block;
	width:220px; 
	height:200px; 
	position: relative;

	font-family: bebas_neue_regularregular;

	h2{
		margin:0;
		padding:10px 20px;
		text-align:center;
		font-size:2em;
	}

	a{
		font-family: Badaboom;
		font-weight: 100;
		text-decoration: none;
		font-size: .75em;
		color:yellow;
		display: block;
		padding:60px 0;
	}

	p{
		color: yellow;
    	margin: 0;
    	padding: 55px 20px;
    	font-size: 1.5em;
	}
}

.battle_button{
	background:url(../img/battle_button.png);
	background-repeat:no-repeat;
	display:block;
	width:220px;
	height:200px;
	position: relative;
	top: 25px;
	left:60%;
	font-family: bebas_neue_regularregular;

	h2{
		margin:0;
		padding:10px 56px;
		text-align: center;
		font-size:2em;
	}

	a{
		font-family: Badaboom;
		font-weight: 100;
		text-decoration: none;
		font-size: .75em;
		color:yellow;
		padding:80px 0;
		display: block;
	}

}

.picks_battles{

	font-family: bebas_neue_regularregular;

	.main_toppicks{

		// float:left;
		// width:50%;

		h3{
			color:yellow;
			text-align: center;
			font-size:2em;
		}

		ul{
			padding:0;
			margin:0;
			list-style-type: none;
		}

		li{
			display: table;
			margin: 20px 0;
			
			img{
				float:left;
			}

			p{
				float:left;
				color: yellow;
 	    		font-size: 1.5em;
    			margin: 0;
    			padding: 55px 15px;
			}

		}


	}

	.recent_battles{

		// float:left;
		// width:50%;

		h3{
			color:yellow;
			text-align: center;
			font-size: 2em;
		}

		ul{
			padding:0;
			margin:0;
			list-style-type: none;
		}

		.recent_versus{
			background:url(../img/versus.png);
			background-size: 100%;
			background-repeat: no-repeat;
			display: block;
			width: 20%;
			height:130px;
			float:left;
			margin-top: 7%;
		}

		.battle1, .battle2{

			.character1, .character2{
				background:url(../img/character_square.jpg);
				background-size: 100%;
				background-repeat: no-repeat;
				width:39%;
				// width:200px;
				height:200px;
				float:left;
			}

		}

	}

}

footer{
	background:#000;
    height: 100px;
    margin-top: 30px;
    padding: 0 10%;

	p{
		float:left;
		color:yellow;
		font-family: bebas_neue_regularregular;

		&:nth-child(2){
			float: right;
		}
	}
}