<h2 class='name-of'></h2>
<div class="pre-pick">
   <!-- <h2>Click to Pick!</h2>
 --></div>
<div class="picked">
<!--     <img src="" alt="">
 --></div>
<div class="power_rating">
    <div class="levels">
        <p>0</p>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
        <p>5</p>
        <p>6</p>
        <p>7</p>
    </div>
    <div class="categories">
        <div class="strength">
            <h4>strength</h4>
            <div></div> <!--This needs to change (width) based on incoming stats -->
        </div>
        <div class="speed">
            <h4>speed</h4>
            <div></div>
        </div>
        <div class="fighting">
            <h4>fighting</h4>
            <div></div>
        </div>
        <div class="energy">
            <h4>energy</h4>
            <div></div>
        </div>
        <div class="durability">
            <h4>durability</h4>
            <div></div>
        </div>
        <div class="intelligence">
            <h4>intelligence</h4>
            <div></div>
        </div>
    </div>
    <h3>Power Ratings</h3>
</div>