<!--  This is the Body of the home page -->

 <main>
	<section class="main_buttons clearfix">
		<div class="character_button">
			<a href="#searchFull"><h2>CHOOSE YOUR CHARACTERS!</h2></a>
		</div>
		<div class="battle_button">
			<a href="#battleSetup"><h2>BATTLE!</h2></a>
		</div>
		<a href="#searchFull" class="invisible_button"></a>
	<img src="img/marvelstar_2.png" class="star"/>
		<div class="buttons">
			
		</div>
	</section>
	<section class="picks_battles clearfix">
		<div class="main_toppicks">

		</div>
	<!-- 	<div class="recent_battles">

		</div> -->
	</section>
</main>
 	