 
		<main>
			<section class="main_buttons clearfix">
			<img src="img/marvelstar_2.png" class="star" />
				<div class="buttons">
					<div class="character_button">
						<h2><a href="characters.html">CHOOSE YOUR CHARACTERS!</a></h2>
					</div>
					<div class="battle_button">
						<h2><a href="battle.html">BATTLE!</a></h2>
					</div>
				</div>
			</section>
			<section class="picks_battles clearfix">
				<div class="main_toppicks">
					<h3>TOP PICKS</h3>
					<ul>
						<li>
							<img src="img/character_wide.jpg">
							<p>CHARACTER NAME</p>
						</li>
						<li>
							<img src="img/character_wide.jpg">
							<p>CHARACTER NAME</p>
						</li>
						<li>
							<img src="img/character_wide.jpg">
							<p>CHARACTER NAME</p>
						</li>
					</ul>
				</div>
				<div class="recent_battles">
					<h3>RECENT BATTLES</h3>
					<div class="battle1">
						<div class="character1"></div>
						<div class="recent_versus"></div>
						<div class="character2"></div>
					</div>
					<div class="battle2">
						<div class="character1"></div>
						<div class="recent_versus"></div>
						<div class="character2"></div>
					</div>			
				</div>
			</section>
		</main>
 