<!--  This is the Body of the home page -->

 <main>
	<section class="main_buttons clearfix">
	<img src="img/marvelstar_2.png" class="star"/>
		<div class="buttons">
			<div class="character_button">
				<h2><a href="#searchFull">CHOOSE YOUR CHARACTERS!</a></h2>
			</div>
			<img src="img/big_arrow.png" alt="">
			<div class="battle_button">
				<h2><a href="#battleSetup">BATTLE!</a></h2>
			</div>
		</div>
	</section>
	<section class="picks_battles clearfix">
		<div class="main_toppicks">

		</div>
		<div class="recent_battles">

		</div>
	</section>
</main>
 	