<img src="img/marvelstar_2.png" class="star star2"/>

<div class="character_1">
            
</div>

<img src="img/vs.png" alt="VS" class="versus">

<div class="character_2">
 
</div>

<div class='search-dock'></div>

<div class="clear"></div>
<div class="battle_options">
    <button class="turnBattleButton">Begin<brk> Turn Battle!</button>
    <button class="statBattleButton">Begin<brk> Stat Battle!</button>
</div>

<!-- 

we changed these to buttons.....i like buttons :)
<a href="fight.html">Random Pick</a>
<a href="fight.html">Begin<brk> Turn Battle!</a>
<a href="fight.html">Begin<brk> Stat Battle!</a>

 -->