    <section class="arena">
        <!-- sidewalk graphic as random background -->
        <div class="health_bars">
            <div class="health_left"></div>
            <div class="health_right"></div>
        </div>

        <!-- Health bars on an isolated row. -->

        <div class="combatants">
            <div class="combatant_one">
                <img class="char_pic" src="img/character_square.jpg" />
                <img src="" />
                <p>CHARACTER NAME</p>
            </div>

            <div class="action_area">
                
            </div>
            
            <div class="combatant_two">
                <img class="char_pic" src="<character_two" />
                <img src="<ellipse>" />
                <p>CHARACTER NAME</p>
            </div>
        </div>

        <!-- Character pictures on an isolated row. Should help with positioning and moving images between them? -->

    </section>

    <!-- Stats battle. Top and bottom padding. Display:block, blue background, yellow border. -->
    <section class="stats_battle">
        <ul class="victories_left">
            <!-- Checkmark as background? -->
            <li class="one"></li>
            <li class="two"></li>
            <li class="three"></li>
            <li class="four"></li>
            <li class="five"></li>
            <li class="six"></li>
            <li class="seven"></li>
            <li class="eight"></li>
            <li class="nine"></li>
            <li class="ten"></li>
        </ul>

        <ul class="battle_labels">
            <li>Round One</li>
            <li>Round Two</li>
            <li>Round Three</li>
            <li>Round Four</li>
            <li>Round Five</li>
            <li>Round Six</li>
            <li>Round Seven</li>
            <li>Round Eight</li>
            <li>Round Nine</li>
            <li>Round Ten</li>
        </ul>

        <ul class="victories_right">
            <li class="one"></li>
            <li class="two"></li>
            <li class="three"></li>
            <li class="four"></li>
            <li class="five"></li>
            <li class="six"></li>
            <li class="seven"></li>
            <li class="eight"></li>
            <li class="nine"></li>
            <li class="ten"></li>
        </ul>

    </section>

    <section class="battle_buttons">
        <div>
            <p>REMATCH</p>
        </div>
        <div>
            <p>NEW BATTLE</p>
        </div>
        <div>
            <p>TURN BATTLE</p>
        </div>
    </section>