    <section class="arena clearfix">
        <div class="health_bars clearfix">
            <div class="health_left"></div>
            <div class="health_right"></div>
        </div>


        <div class="combatants">
            <div class="combatant_one">
                <img class="char_pic" src="img/character_square.jpg" />
                <img src="" />
                <p>CHARACTER NAME</p>
            </div>

            <div class="action_area">
                
            </div>
            
            <div class="combatant_two">
                <img class="char_pic" src="<character_two" />
                <img src="<ellipse>" />
                <p>CHARACTER NAME</p>
            </div>
        </div>


    </section>

    <section class="stats_battle">
        <ul class="victories_left">
            <li class="wins"></li>
            <li class="percent"></li>
        </ul>

        <ul class="battle_labels">
                <li>
                <h2>Wins</h2>
                <p>Out of 15 battles</p>
                </li>
                
                <li>
                <h2>Losses<h2>
                <p>Out of 15 battles</p>
                </li>
                
                <li>
                <p>Chance of Victory<p>
                </li>
        </ul>

        <ul class="victories_right">
            <li class="wins"></li>
            <li class="percent"></li>
        </ul>

    </section>

    <section class="battle_buttons">
        <div class="button">
            <p>REMATCH</p>
        </div>
        <div class="button">
            <p>NEW BATTLE</p>
        </div>
        <div class="button">
            <p>TURN BATTLE</p>
        </div>
    </section>