    <section class="arena">
        <!-- sidewalk graphic as random background -->
        <div class="health_bars">
            <div class="health_left"></div>
            <div class="health_right"></div>
        </div>

        <!-- Health bars on an isolated row. -->

        <div class="combatants">
            <div class="combatant_one">
                <img class="char_pic" src="img/character_square.jpg" />
                <img src="" />
                <p>CHARACTER NAME</p>
            </div>

            <div class="action_area">
                
            </div>
            
            <div class="combatant_two">
                <img class="char_pic" src="<character_two" />
                <img src="<ellipse>" />
                <p>CHARACTER NAME</p>
            </div>
        </div>

        <!-- Character pictures on an isolated row. Should help with positioning and moving images between them? -->

    </section>

    <!-- Stats battle. Top and bottom padding. Display:block, blue background, yellow border. -->
    <section class="stats_battle">
        <ul class="victories_left">
            <!-- Checkmark as background? -->
            <li></li>
            <li></li>
            <li></li>
            
        </ul>

        <ul class="battle_labels">
                <li>
                <h2>Wins</h2>
                <p>Out of 15 battles</p>
                </li>
                
                <li>
                <h2>Losses<h2>
                <p>Out of 15 battles</p>
                </li>
                
                <li>
                <p>Chance of Victory<p>
                </li>
        </ul>

        <ul class="victories_right">
            <li></li>
            <li></li>
            <li></li>
            
        </ul>

    </section>

    <section class="battle_buttons">
        <div>
            <p>REMATCH</p>
        </div>
        <div>
            <p>NEW BATTLE</p>
        </div>
        <div>
            <p>TURN BATTLE</p>
        </div>
    </section>