            <section class="arena clearfix">
                <div class="health_bars clearfix">
                    <div class="health_left"></div>
                    <div class="health_right"></div>
                </div>


                <div class="combatants">
                    <div class="combatant_one">
                        <img class="char_pic" src="img/character_square.jpg" />
                        <img src="img/shadow.png" />
                        <p>CHARACTER NAME</p>
                    </div>

                    <div class="action_area">
                        
                    </div>
                    
                    <div class="combatant_two">
                        <img class="char_pic" src="img/character_square.jpg" />
                        <img src="img/shadow.png" />
                        <p>CHARACTER NAME</p>
                    </div>
                </div>


            </section>

            <section class="turn_battle">
                <ul class="turns">
                    <!-- 
                    For Character One, picture before text.
                    For Character Two, text before picture.
                    Order is either determined by JS insert order, or images are absolutely positioned by parent class. -->
                    
                    
                </ul>
            </section>

            <section class="battle_buttons">
                <div class="button">
                    <p>REMATCH</p>
                </div>
                <div class="button">
                    <p>NEW BATTLE</p>
                </div>
                <div class="button">
                    <p>TURN BATTLE</p>
                </div>
                <!-- <a href="">Rematch</a> -->
            </section>