<!-- This is the Header and the Footer -->

<!-- this is the header -->
    <header class="clearfix">
        <h1><a href="/#"><span class="first_s">S</span>uper <span class="first_s">S</span>idewalk <span class="first_s">S</span>lam</a></h1>    
        <ul class="top_nav">
            <li><button  class='charactersButton' type='button'>Characters</button></li>
            <li><button class='matchupButton' type='button'>Battle</button></li>
        </ul>
    </header>
    
<!-- this is the entry point -->
    <div class='entry-point'></div>

<!--this is the footer -->
    <footer>
        <p>Data Provided By: Marvel. &copy; 2014 Marvel</p>
        <p>UI/UX By: Will McCain &amp; Sarah Jones</p>
        <p>Frameworks, Implementation, Animations, &amp; Literally Everything Else By: Dave Millican &amp; Fabian Murillo </p>
    </footer>


