<!-- MainView is the Header and the Footer -->

    <div class="logo_wrapper">
<!--    <img src="img/marvelstar_2.png" class="star"/>
 -->    <div class="wrapper">   
            <header class="clearfix">
                <h1><a href="/#"><span class="first_s">S</span>uper <span class="first_s">S</span>idewalk <span class="first_s">S</span>lam</a></h1>    
                <ul class="top_nav">
                    <button  class='charactersButton' type='button'><!-- <a href="characters.html"> -->Characters<!-- </a> --></button>
                    <button class='matchupButton' type='button'><!-- <a href="matchup.html"> -->Battle</a></button>
                </ul>
            </header>

        <div class='entry-point'></div>
        </div><!-- /wrapper -->
    </div>

<!--this is the footer -->
    <footer>
        <p>Data Provided By: Marvel. &copy; 2014 Marvel</p>
        <p>UI/UX By: Will McCain &amp; Sarah Jones</p>
        <p>Frameworks, Implementation, Animations, &amp; Literally Everything Else By: Dave Millican &amp; Fabian Murillo </p>
    </footer>

