form{

	li{
		list-style: none;
	}

	li p, li button{
		display: inline-block;
	}
	
}

.wrapper{
	text-align: center;

	input{
		height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
    	width: 75%;
    	font-size: 1.3em;
	    color: yellow;
	    text-indent: 20px;
	    font-family: 'bebas_neue_regularregular';
	    letter-spacing: .2em;
    }

    button{
    	height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
    	width: 20%;
    	margin-left: 1%;
    	font-size: 2em;
    	padding-top: 5px;
    }

}

.top_picks{


	div{
		padding: 2%;

		&:last-child{
			margin: 0;
		}

		img{
			  border: solid 10px black;
		    width: 100%;
		    box-sizing: border-box;
		    display: block;
		    margin: 0;
		    padding: 0;
		}
		h2{
			margin-top: 0;
		}
	}

	h1{
			font-size: 1.5em;
		}
}

.searchresults{
	// display: none;
	
	li{
		display: block;
	}
}

#active{
	display: block;
}



   