form{

	li{
		list-style: none;
	}

	li p, li button{
		display: inline-block;
	}
	
}

.wrapper{
	text-align: center;

	input{
		height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
    	width: 75%;
    	font-size: 1.3em;
	    color: yellow;
	    text-indent: 20px;
	    font-family: 'bebas_neue_regularregular';
	    letter-spacing: .2em;
    }

    button{
    	height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
    	width: 20%;
    	margin-left: 1%;
    	font-size: 2em;
    	padding-top: 5px;
    }

}

.top_picks{


	div{
		padding: 2%;
		max-width: 85%;
		margin: 0 auto;

		img{
			border: solid 10px black;
		    width: 100%;
		    box-sizing: border-box;
		    display: block;
		    margin: 0 0 10px 0;
		    padding: 0;
		}
		h2{
			margin-top: 0;
		}
	}

	h1{
			font-size: 1.5em;
		}
}

.searchresults{
	// display: none;
	
	li{
		display: block;
	}
}

#active{
	display: block;
}

@media screen and (min-width: 600px){
	
	.wrapper{
		text-align: left;
		padding: 2%;

		input{
			width: 81%;
		}
		button{
			width: 17%;
			font-size: 2.5em;
		}
	}

	.top_picks{

		div{
			padding: 0;
			float: left;
			width: 32%;
			margin-right: 2%;
			text-align: center;
			&:last-child{
				margin: 0;
			}
		}
	}


}

@media screen and (min-width: 1020px){

	.wrapper{

		input{
			width: 84%;
		}
		button{
			width: 14%;
		}
	}



} 