.arena{
	background-size: cover;
	// width:128%;
	background-repeat:no-repeat;
	// padding:0 10%;
    // margin:0 -14%;
}

.shadow{
    width: 0%;
}

.health_bars{
	padding:20px 0;
    display: none;
}

.health_left, .health_right{
	display: block;
    width: 35%;
    height: 60px;
    background: red;
}

.health_left{
	float: left;
    margin-left:11%;
}

.health_right{
	float: right;
    margin-right:11%;
}

.combatants{
	position: relative;
    padding: 10px;

}

.combatant_one, .combatant_two{
	float: left;
    width: 45%;
    text-align: center;

    p{
    	font-size: 1.6em;
    	text-shadow: 2px 2px 2px #000;
    }
}

.combatant_one{
	float: left;
}

.combatant_two{
	float: right;
}

.char_pic{
	display: block;
    margin: 0 auto;
    width:100%;
}

.action_area{
	width: 100%;
    height: 250px;
    position: absolute;
}

.stats_battle, .turn_battle{
	background: #0000FF;
    border: 20px solid #f7942e;
    margin-bottom: 30px;
}

// Stat Battle 

.victories_left, .victories_right{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 33%;
    float: left;
    text-align:center;

    .wins, .percent{
        // background: url(../img/comic-burst.png);
        float: left;
        font-size: 3.5em;
        width: 100%;
        padding: 77px 0;
        vertical-align: middle;
        display: block;
        color: #D8230E;
        font-weight: 600;
        text-shadow: 2px 1px 1px yellow;
        font-family: Badaboom;
    }
}

.battle_labels{
	padding: 0;
    margin: 0;
    list-style: none;
    width: 33%;
    float: left;
    text-align:center;

    li{
    	display: block;
    	padding: 40px 0;
    	font-size: 1.5em;
    }
}

.battle_buttons{
	width: 90%;
    display: block;
    text-align: center;
    margin: 0 auto;
    button{
        font-size: 2em;
        font-family: Badaboom;
        font-weight: 100;
        height: 75px;
    }

    
}

.button{
	display: inline-block;
    width: 30%;
    height: 100px;
    background: orange;
    // float: left;
    text-align: center;
    border: 6px solid #000;
    // margin:0 10px;

    p{
    	font-size: 2em;
    	color: #000;
    	font-family:Badaboom;
    }

    &:first-child{
        width: 95%;
    }

    &:nth-child(2), &:nth-child(3){
        display: none;
    }
}

// Turn Battle

.turn_battle {

    .char_one, .char_two{
        
        display: table;

        p{
            font-size: 1.5em;
            display: table-cell;
            vertical-align: middle;
        }

        img{
            width: 100px;
        }
    }

    .char_one{
        float: left;
        padding: 20px 0 0 20px;

        p{
            // float: right;
        }

        img{
            float: left;
            padding-right: 10px;
        }
    }

    .char_two{
        float: right;
        padding: 0 20px 20px 0;

        p{
            // float: left;
        }

        img{
            float: right;
            padding-left: 10px;
        }
    }
}

.turns{
    list-style-type: none;
    padding:0;
    margin: 0 auto;
    min-height: 200px;
    width: 90%;

    li{
        margin: 20px;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 600px){
    .arena{
        background: url(../img/sidewalk.jpg);
        }
}