//Fonts

@font-face{
	font-family: Badaboom;
	src: url(../fonts/badaboom.ttf);
	font-weight:100;
}

@font-face{
	font-family: Digitalstrip;
	src: url(../fonts/digitalstrip_regular.ttf);
}

/*
    SIL Open Font License v1.10
    License found at: http://www.fontsquirrel.com/license/bebas-neue
*/
@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}