// .star2{
// 	top: 51px;
//     left: 64px;
// }
.hero-pick{
	position: relative;
	
	h2{
		position: absolute;
	    top: -2%;
	    left: 12%;
	    z-index: 1;
	    font-size: 2em;
	    text-shadow: -2px 1px 4px black;
	}
}

.pre-pick{
	// width: 100%;
    height: inherit;
    background-color: orange;
    border: solid 5px #000;
    color: #000;
    height: 500px;
	
	h1{
		text-align: center;
		font-size: 20em;
		font-family: Badaboom;
		margin: 0;
		padding: 0;
		margin-top: 18%;
	}
}

.character_1{
	.picked{
		position: absolute;
		// width: 50%;
		top: 0;
		left: 0;
		// z-index: 20;
		img{
			width: 100%;
			border: solid 5px #000;
		}
	}
	.power_rating{
		float: right;
	}
}

.character_2{ 
	.picked{
		position: absolute;
		// width: 50%;
		top: 0;
		// left: 50%;
		// z-index: 0;
		img{
			width: 100%;
			border: solid 5px #000;
		}
	}
}

.character_1, .character_2{
	float: left;
	width: 50%;
}

.versus{
	position: absolute;
    left: 39%;
    top: 28%;
    z-index: 25;
}

.battle_options{
	text-align: center;
	a{
		display: inline-block;
		padding: 15px 30px;
		font-family: Badaboom;
		background-color: orange;
		border: solid 5px #000;
		text-decoration: none;
		font-size: 1.5em;
		color: #000;
		width: 125px;

	}
}

div.active{
	display: block;
}


.search-dock{
	box-sizing: border-box;
    display: none;
    text-align: left;
    width: 100%;
    position: absolute;
    background-color: blue;
    border: solid 5px yellow;
    // left: 11%;
    padding: 30px;
    z-index: 80;

	input{
		height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
	    width: 81.5%;
	    font-size: 1.3em;
	    color: yellow;
	    text-indent: 20px;
	    font-family: 'bebas_neue_regularregular';
	    letter-spacing: .2em;
	}

	button{
	    height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
	    width: 16.5%;
	    margin-left: 1%;
	    font-size: 2.7em;
	    padding-top: 5px;
	}

    h2{
    	text-align: left;
    	
    }
}

.searchresults{
	
    ul{
		margin-top: 30px;
		text-align: left;
		padding: 0;
    }

    li{
    	margin: 10px 0;

    	img, p, button{
    		display: inline-block;
    		vertical-align: middle;
    	}

    	img{
    		margin-right: 20%;
    	}

    	button{
    		float: right;
    		margin-right: 0;
    		font-size: 1.1em;
		    font-family: Badaboom;
		    background-color: orange;
		    border-color: #000;
		    width: 17%;
		    height: 50px;
    	}
    }
}


.entry-point{		
	width: 78%;
	margin: 0 auto;
	position: relative;
	
}

.turn_battle_button{
	position: absolute;
    left: -13%;
    top: 42%;
}

.turnBattleButton{
	-webkit-appearance: none;
	background-color: #fff;
	font-family: Badaboom;
	font-size: 2.5em;
	border: none;
	position: absolute;
	top: 56%;
	left: 4%;
}

.stat_battle_button{
	position: absolute;
    left: 62%;
    top: 42%;
}

.statBattleButton{
	-webkit-appearance: none;
	background-color: #fff;
	font-family: Badaboom;
	font-size: 2.5em;
	border: none;
	position: absolute;
	top: 57%;
	left: 73%;
}

.randomPickButton{
	-webkit-appearance: none;
    border: solid 5px #000;
    background-color: orange;
    font-size: 2em;
    font-family: Badaboom;
    padding: 10px 30px;

}


