//Variables

$orange: #f7942e;

//Imports

@import "clearfix";

@import "fonts";

@import "characters";

@import "matchup";

@import "fight";

@import "bio";

body{
	font-family: "bebas_neue_regularregular";
	color: yellow;
	letter-spacing: .2em;
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-color: #a31b18;
	margin: 0 auto;
	position: relative;
	background-size: contain;
}

main{
	padding: 2%;

}

.main-dock{
	max-width: 1020px;
    margin: 0 auto;
}

.entry_point{
	position: relative;
}

.star{
	display: none;
}

header{
	position: relative;
	z-index: 2;
	padding: 2%;
	text-align: center;

	h1{
		position: relative;
		font-family: Badaboom;
		font-weight: 100;
		color: yellow;
		font-size: 1.5em;

			a{
				text-decoration: none;
				color: yellow;
			}
	}

	li{
		color: yellow;
		padding: 5px;
		list-style: none;

		&:last-child a{
			padding: 15px 65px;
			margin-left: 30px;
		}
	}
}

.first_s{
	color: red;
	font-size: 3em;
	text-shadow: 2px 5px 5px #000;
}

.top_nav{
	padding: 0;

	button{
		display: block;
	    padding: 15px;
	    color: yellow;
	    background-color: #2286e8;
	    font-family: 'bebas_neue_regularregular';
	    font-size: 1.3em;
	    text-decoration: none;
	    border: none;
	    width: 100%;
	    margin: 10px 0;
	    letter-spacing: 0.15em;
	}
}



.main_buttons{
    background: url(../img/marvel_group2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    /* height: 200px; */
    padding-bottom: 62%;
    position: relative;
}

.buttons{
	position: relative;
}

.character_button{
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: bebas_neue_regularregular;

	h2{
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 2em;
	}

	a{
		text-decoration: none;
	    font-size: .75em;
	    color: black;
	    display: block;
	    padding: 20px 20px;
	    background-color: orange;
	    border: solid 5px black;
	    font-family: Badaboom;
	}
}


.big_arrow{
	display: none;
}

.battle_button{
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: bebas_neue_regularregular;

	h2{
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 2em;
	}

	a{
		text-decoration: none;
	    font-size: .75em;
	    color: black;
	    display: block;
	    padding: 20px 20px;
	    background-color: orange;
	    border: solid 5px black;
	    font-family: Badaboom;
	}
}

.invisible_button{
	position: absolute;
    left: 30%;
    top: 30%;
    height: 45%;
    width: 45%;
}

.topPicksView{
	text-align: center;

	p{
		margin: 0 0 20px 0;
	}
}

.main_toppicks{

	h3{
		color: yellow;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 10px;
	}

	ul{
		padding: 0;
		margin: 0;
	}

	li{
		list-style: none;
	}

}

.recent_battles{

	h3{
		color: yellow;
		text-align: center;
		font-size: 2em;
	}

	ul{
		float: left;
		width: 50%;
		padding: 0;
		margin: 0;
	}
	
	li{
		list-style: none;
	}
}

.recent_versus{
	background: url(../img/versus.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
	width: 20%;
	height:  130px;
	float: left;
	margin-top: 7%;
}

.character1, .character2{
	background: url(../img/character_square.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 39%;
	height: 200px;
	float: left;
}

footer{
	background-color: #000;
    margin-top: 30px;
    padding:10%;

	p{
		float: left;
		color: yellow;
		font-family: bebas_neue_regularregular;

		&:nth-child(2){
			float: right;
		}
	}
}

@media screen and (min-width: 450px){
	.top_nav button{
		width: 180px;
		font-size: 1em;
		display: inline-block;
		margin: 5px;

	}

	header{
		h1{
			font-size: 2em;

		}
	}

}

@media screen and (min-width: 600px){

	header{
		padding: 0 7%;
		text-align: left;
	}

	.top_nav{ 
		margin-top: 40px;

		button{
			float: right;
		}
	}

	.main_buttons{
		display: block;
		margin: 0 auto;
		height: 100%;
	}
	
	.topPicksView{
		text-align: left;
		
	}

	.top_pick_left{
		float: left;
		width: 50%;
	}

	.top_pick_right{
		float: right;
		width: 50%;
	}


.main_toppicks{

		h3{
			color: yellow;
		    text-align: center;
		    font-size: 2.5em;
		    margin-top: 70px;
		    margin-bottom: 20px;
		}

		ul{
			padding:0;
			margin:0;
			list-style-type: none;
		}

		li{
			display: table;
			margin: 20px 0;
			
			img{
				float:left;
			}

			p{
				float:left;
				color: yellow;
 	    		font-size: 1.5em;
    			margin: 0;
    			padding: 55px 15px;
			}

		}

	}

	header{
		h1{
			float: left;
			margin: 0;
		}
	}
}

@media screen and (min-width: 950px){
	header{
		h1{
			font-size: 2.8em;
		}
	}
}


@media screen and (min-width: 1020px){
	.main-dock{
		max-width: 1020px;
	}

}























