<!-- This is characters.html -->

<h2>Search for your own hero</h2>

<input type="text" placeholder="ex: Spider-Man">
<button>&#128269;</button>



<!-- add class of "active" to see dropdown results
<div class="searchresults active">

NOTICE!!!  We changed this:  No <form> and input to button.

-->
<div class="searchresults">
    <ul class='searchView'>
    </ul>
</div>

<div class="top_picks clearfix">
    <h1>Top Picks</h1>
    <div class="first-hero">
        <img src="img/portrait_uncanny.jpg" alt="character">
        <h2>Character Name</h2> 
    </div>
    <div class="second-hero">
        <img src="img/portrait_uncanny.jpg" alt="character">
        <h2>Character Name</h2> 
    </div>
    <div class="third-hero">
        <img src="img/portrait_uncanny.jpg" alt="character">
        <h2>Character Name</h2> 
    </div>
</div>

